<h4>Check out my stuff!</h4>
<nav id="proj-nav">
  <ul class="nav nav-pills nav-justified">
    <li><a href="#" ng-click="ctrl.showProject='partners'">Partners in Climb</a></li>
    <li><a href="#" ng-click="ctrl.showProject='ffo'">forFansOf</a></li>
    <li><a href="#" ng-click="ctrl.showProject='earworm'">earworm</a></li>
    <li><a href="#" ng-click="ctrl.showProject='connexus'">Connexus</a></li>
    <li><a href="#" ng-click="ctrl.showProject='instajam'">InstaJam</a></li>
  </ul>
</nav>
<!-- Partners in Climb -->
<div class="project-box" id="partners-box" ng-if="ctrl.showProject=='partners'">
  <iframe class="proj-frame" src="https://anth0nyj.github.io/partners_in_climb/" width="700"></iframe>
  <iframe class="md-frame" src="../docs/partners.html"></iframe>
</div>
<!-- forFansOf -->
<div class="project-box" id="ffo-box" ng-if="ctrl.showProject=='ffo'">
  <iframe class="proj-frame" src="https://forfansof.herokuapp.com/" width="700"></iframe>
  <iframe class="md-frame" src="../docs/ffo.html"></iframe>
</div>
<!-- earworm -->
<div class="project-box" id="earworm-box" ng-if="ctrl.showProject=='earworm'">
  <iframe class="proj-frame" src="https://earworm.herokuapp.com/"></iframe>
  <iframe class="md-frame" src="../docs/earworm.html"></iframe>
</div>
<!-- Connexus -->
<div class="project-box" id="connexus-box" ng-if="ctrl.showProject=='connexus'">
  <iframe class="proj-frame" src="https://entertheconnexus.herokuapp.com/" width="700"></iframe>
  <iframe class="md-frame" src="../docs/connexus.html"></iframe>
</div>
<!-- InstaJam -->
<div class="project-box" id="instajam-box" ng-if="ctrl.showProject=='instajam'">
  <iframe class="proj-frame" src="https://instajam-app.herokuapp.com/" width="700"></iframe>
  <iframe class="md-frame" src="../docs/instajam.html"></iframe>
</div>
